{% extends 'base.html' %}

{% block content %}
<!-- Importation de Chart.js pour les graphiques -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container py-4">
    <!-- Bouton de retour à la page de conversion -->
    <a href="{% url 'conversion' %}" class="btn btn-outline-secondary me-md-2">retour</a>
    <h2 class="mb-4">Calcul du DER et du WER</h2>
    <div class="card">
        <div class="card-body">
            <!-- Formulaire pour le téléchargement des fichiers et la sélection des options -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Sélection du groupe cible -->
                <fieldset class="mb-3">
                    <legend>Sélectionnez le groupe cible:</legend>
                    <div class="form-check">
                        <input type="radio" id="adult" name="targetGroup" value="adult" class="form-check-input" required checked>
                        <label class="form-check-label" for="adult">Adulte</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="enfant" name="targetGroup" value="enfant" class="form-check-input" required>
                        <label class="form-check-label" for="enfant">Enfant</label>
                    </div>
                </fieldset>

                <!-- Téléchargement des fichiers WER -->
                <div class="mb-3 wer-upload">
                    <label for="referenceFileWER" class="form-label">Téléchargez le fichier de référence WER (.json):</label>
                    <input type="file" id="referenceFileWER" name="referenceFileWER" class="form-control" required>
                </div>
                <div class="mb-3 wer-upload">
                    <label for="hypothesisFileWER" class="form-label">Télécharger le fichier d'hypothèse WER (.json):</label>
                    <input type="file" id="hypothesisFileWER" name="hypothesisFileWER" class="form-control" required>
                </div>

                <!-- Téléchargement des fichiers DER -->
                <div class="mb-3 der-upload">
                    <label for="referenceFileDER" class="form-label">Télécharger le fichier de référence DER (.json):</label>
                    <input type="file" id="referenceFileDER" name="referenceFileDER" class="form-control" required>
                </div>
                <div class="mb-3 der-upload">
                    <label for="hypothesisFileDER" class="form-label">Télécharger le fichier d'hypothèse DER (.json):</label>
                    <input type="file" id="hypothesisFileDER" name="hypothesisFileDER" class="form-control" required>
                </div>
                <!-- Notes sur le format des fichiers -->
                <p class="text-muted">Note: fichier de référence converti par eaf2jsonWER et fichier d'hypothèse converti par txt2json pour la partie WER</p>
                <p class="text-muted">Note: fichier de référence converti par eaf2jsonDER et fichier d'hypothèse converti par textgrid2json pour la partie DER</p>
                
                <!-- Sélection du type d'analyse -->
                <fieldset class="mb-4">
                    <legend>Sélectionnez le type d'analyse:</legend>
                    <div class="form-check">
                        <input type="radio" id="class" name="analysisType" value="class" class="form-check-input" required>
                        <label class="form-check-label" for="class">Classe</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="situation" name="analysisType" value="situation" class="form-check-input" required>
                        <label class="form-check-label" for="situation">Situation</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="speaker" name="analysisType" value="speaker" class="form-check-input" required>
                        <label class="form-check-label" for="speaker">Locuteur</label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Calculer</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-body" id="werResults">
            <h3>Résultats DER et WER</h3>
            {% if resultat %}
                <!-- Affichage des résultats WER -->
                {% if resultat|default:""|length > 0 and resultat.wer_results %}
                    <div class="results">
                        <h4>Résultats WER</h4>
                        {% for id, details in resultat.wer_results.items %}
                            <p><strong>ID {{ id }}:</strong> WER = {{ details.wer }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- Affichage des résultats DER -->
                <div class="results mt-3">
                    <h4>Résultats DER</h4>
                    {% if resultat.der_results %}
                        {% for id, details in resultat.der_results.items %}
                            <p><strong>ID {{ id }}:</strong> DER = {{ details.der }}{% if details.speaker_ids %}, Speaker IDs: {{ details.speaker_ids|join:", " }}{% endif %}</p>
                        {% endfor %}
                    {% elif resultat %}
                        {% for id, details in resultat.items %}
                            <p><strong>ID {{ id }}:</strong> DER = {{ details.der }}{% if details.speaker_ids %}, Speaker IDs: {{ details.speaker_ids|join:", " }}{% endif %}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            <!-- Conteneurs pour les graphiques -->
            <div class="chart-container">
                <h3>Diagramme à barres</h3>
                <canvas id="werChart" width="400" height="200"></canvas>
                <canvas id="derChart" width="400" height="200"></canvas>
            </div>
            <div class="chart-container scatter-container" style="display:none;">
                <h3 id="chartTitle">Diagramme de dispersion</h3>
                <canvas id="scatterChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    // Attente que le document soit entièrement chargé
    document.addEventListener("DOMContentLoaded", function() {
        // Sélection des boutons radio pour le groupe cible
        var targetGroupRadios = document.querySelectorAll('input[name="targetGroup"]');
        var werUploadSections = document.querySelectorAll('.wer-upload');
        var derUploadSections = document.querySelectorAll('.der-upload');

        // Fonction pour mettre à jour les sections de téléchargement en fonction du groupe cible sélectionné
        function updateUploadSections() {
            var selectedValue = document.querySelector('input[name="targetGroup"]:checked').value;

            // Affichage conditionnel des sections WER et DER
            werUploadSections.forEach(function(section) {
                section.style.display = selectedValue === 'adult' ? '' : 'none';
                section.querySelectorAll('input').forEach(function(input) {
                    input.required = selectedValue === 'adult';
                });
            });

            derUploadSections.forEach(function(section) {
                section.style.display = '';
                section.querySelectorAll('input').forEach(function(input) {
                    input.required = true;
                });
            });
        }

        // Écouteur d'événements pour chaque bouton radio du groupe cible
        targetGroupRadios.forEach(function(radio) {
            radio.addEventListener('change', updateUploadSections);
        });

        // Mise à jour initiale des sections de téléchargement
        updateUploadSections();

        // Préparation des données pour les graphiques
        var chartData = JSON.parse('{{ chart_data|safe }}');
        // Conteneurs pour les graphiques WER et DER
        var werChartContainer = document.getElementById('werChart').parentNode;
        var derChartContainer = document.getElementById('derChart').parentNode;
        // Conteneur pour le graphique de dispersion
        var scatterChartContainer = document.getElementById('scatterChart').parentNode;

        // Vérification et affichage des graphiques en fonction des données disponibles
        if (chartData.datasets && chartData.datasets[0] && chartData.datasets[0].label === "WER") {
            werChartContainer.style.display = 'block';
            scatterChartContainer.style.display = 'block';
            // Création du graphique WER
            var werChartCtx = document.getElementById('werChart').getContext('2d');
            new Chart(werChartCtx, {
                type: 'bar',
                data: {
                    labels: chartData.labels,
                    datasets: [chartData.datasets[0]] // Utilisation des données WER
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Création du graphique de dispersion si des données WER sont présentes
            var scatterChartData;
            try {
                scatterChartData = {
                    datasets: [{
                        label: 'Exemple de dispersion',
                        data: JSON.parse('{{ scatter_data|safe }}'),
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        pointRadius: 5
                    }]
                };
            } catch (e) {
                console.error('Erreur lors de l\'analyse des données de dispersion', e);
                return; // Arrêt de l'exécution si les données de dispersion sont invalides
            }

            var scatterChartCtx = document.getElementById('scatterChart').getContext('2d');
            new Chart(scatterChartCtx, {
                type: 'scatter',
                data: scatterChartData,
                options: {
                    scales: {
                        x: {
                            beginAtZero: true, 
                            type: 'linear' 
                        },
                        y: {
                            beginAtZero: true 
                        }
                    },
                    animation: {
                        onComplete: () => {
                            document.querySelector('.scatter-container').style.display = 'block';
                        }
                    }
                }
            });

            // Création du graphique DER si des données sont présentes
            if (chartData.datasets[1]) {
                var derChartCtx = document.getElementById('derChart').getContext('2d');
                new Chart(derChartCtx, {
                    type: 'bar',
                    data: {
                        labels: chartData.labels,
                        datasets: [chartData.datasets[1]] // Utilisation des données DER
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        } else if (chartData.datasets && chartData.datasets[0]) {
            werChartContainer.style.display = 'none';
            scatterChartContainer.style.display = 'none';
            derChartContainer.style.display = 'block';
            // Création du graphique DER en supposant que le premier jeu de données est DER si l'étiquette WER n'est pas trouvée
            var derChartCtx = document.getElementById('derChart').getContext('2d');
            new Chart(derChartCtx, {
                type: 'bar',
                data: {
                    labels: chartData.labels,
                    datasets: [chartData.datasets[0]] // Utilisation des données DER
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    });
</script>

<style>
    /* Styles pour améliorer l'apparence des conteneurs et des cartes */
    .container {
        background-color: #f8f9fa; 
        padding: 20px;
        border-radius: 8px; 
    }
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
        transition: 0.3s; 
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    }
    
    .card-body {
        padding: 20px; 
    }
    
    .btn-primary {
        width: 100%; 
        margin-top: 10px; 
    }
    
    .form-label {
        margin-bottom: 10px;
    }
    
    .form-control, .form-check-input, .form-check-label {
        margin-bottom: 20px; 
    }
    
    .form-check-label {
        display: block; 
    }
    </style>
{% endblock %}